[Unit]
Description=Alexa Voice Assistant
After=alsa-restore.service
 
[Service]
Type=simple
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python /home/pi/alexa.py
User=pi
 
[Install]
WantedBy=sysinit.target
